<div style="margin: 200px auto; width:100%;text-align:center; color: white;" >
<!-- <div ></div> -->
<div >
  <img src="logo.png" width="200px"  >
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>
 
  <p class="signup"><%= f.label :name %><br>
  <%= f.text_field :name%></p>

 
  <p class="signup"><%= f.label :phone %><br>
  <%= f.text_field :phone%></p>
 
  <span class="button"><%= f.submit %></span>
<% end %>
</div>
<!-- </div> -->
</div>